


p{
  font-size: 30px;
}

.navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav_item{
  display: inline-block;
  float: right;
  padding-right: 20px;
}

.main-container{
  margin-top: 100px;
  min-width: 100px;
  min-height: 100px;
  position: relative;
  padding: 0;
}

#search, #logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo{


}

#search{
  margin-top: 20px;
  min-height: 30px;
  min-width: 50%;

}



.search_buttons{

  margin: 10px auto;
  height: 50px;
  width: 400px;

}

#l_button, #r_button{
  width: 150px;
  height: 50px;
  margin_top: 10px;


  border: 2px solid red;
}

#l_button{
  float: left;
}

#r_button{
  float: right;
}

a{

}

p{
  position: relative;
  font-size: 10px;
  margin-top: auto;
  margin-bottom: auto;



}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
  text-align: right;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}
:-moz-placeholder { /* Firefox 18- */
  color: pink;
}
